[Unit]
Description=Pgadmin4 Service
After=network.target

[Service]
User=root
Group=root
#WorkingDirectory=/home//Downloads/pgadmin4/
#Environment="PATH=/home//Downloads/pgadmin4/bin"
ExecStart=/home//.local/bin/pgadmin4
PrivateTmp=true

[Install]
WantedBy=multi-user.target
